<!DOCTYPE html>
<html lang="en">
<head>
    <title>Question Bank</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header}}
    <div class="container">
        {{{body}}}
    </div>
    {{> footer}}
</body>
</html>
